{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Course Re-evaluations</title>
        <link rel="stylesheet" type="text/css" href="{% static "/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Course Re-evaluations</h1>
            <h1>A UChicago Course Evaluations Summarizer</h1>
        </div>
        <div class="frame">
            <p>Search by course, professor, or both.</p>
            <p>To search by course, select the department and either the course number or name.</p>
            <form method="get">
                {% csrf_token %}
                <table class="form_course">
                    {{ form_course }}
                </table>
                <p>To search by professor, enter the professor's first and last name.</p>
                <table class="form_prof">
                    {{ form_prof.as_table }}
                </table>
                <p>Don't have a particular course or professor in mind? View department rankings instead!</p>
                <table class="form_rank">
                    {{ form_rank.as_table }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}

        <div class="table">
            {% if result is not None %}
                <p class="text"> Summary of {{ num_results }} evaluations.</p>
                {% if result == 0 %}
                    <p class="text"> No results were found, are you sure you searched for something that exists?</p>
                {% elif rank %}
                    <table class="center">
                        <tr>
                            {% for col in columns %}
                            <th>{{ col }}</th>
                            {% endfor %}
                        </tr>
                        {% for entry in result %}
                        <tr>
                            {% for col in entry %}
                            <td>{{ col }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                {% else %}
                <div class="results_sentences">
                    <p class="text", style="font-size:18px;"> The results of our dyadic partitioning code find that {{ would_like_str }}</p>
                    <p class="text", style="font-size:18px;"> The results of our dyadic partitioning code find that {{ would_recommend_str }}</p>
                </div>
                    {% if graph_type == 'course' %}
                            <img src="{% static "/images/wordcloud.png" %}"/>
                            <img src="{% static "/images/graph.png" %}"/>
                            <img src="{% static "/images/coursescore.png" %}"/>
                            <img src="{% static "/images/coursesent.png" %}"/>
                    {% elif graph_type == 'prof' %}
                            <img src="{% static "/images/wordcloud.png" %}"/>
                            <img src="{% static "/images/graph.png" %}"/>
                            <img src="{% static "/images/profscore.png" %}"/>
                            <img src="{% static "/images/profsent.png" %}"/>
                    {% else %}
                            <img src="{% static "/images/wordcloud.png" %}"/>
                            <img src="{% static "/images/graph.png" %}"/>
                            <img src="{% static "/images/courseprofscore.png" %}"/>
                            <img src="{% static "/images/courseprofsent.png" %}"/>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </body>
</html>
